/* ==========================GLOBAL============================*/

body {
    background-color: #03031d;
    padding: 0%;
    margin: 0%;
}

img {
    transition: 0.25s;
}


/* ==========================GlobalBoxes============================*/

.bodyBox {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0%;
}

.bodyBox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.bodyBox3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 10vh;
}

.bodyStyleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
}


/* =============================img styling===========================*/

.sImg {
    max-width: 250%;
    max-height: auto;
}

.element {
    max-width: 350%;
    max-height: auto;
}

.cubeImg {
    width: 440px;
    height: 368px;
}


/* =================================================================*/

.boxText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13vw;
    width: 60%;
    height: 100vh;
}

.boxInside {
    flex: none;
    order: 3;
    flex-grow: 0;
}


/* =================================================================*/

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 25vw;
    height: 100vh;
    overflow: hidden;
}

.box2:hover img {
    background-color: black;
    opacity: 60%;
    transform: scale(1.2);
}

.box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
}

.box3:hover img {
    background-color: black;
    opacity: 60%;
    transform: scale(1.2);
}

.box4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 25vw;
    height: 100vh;
    overflow: hidden;
}

.box4:hover img {
    background-color: black;
    opacity: 60%;
    transform: scale(1.2);
}

.Box4Inside {
    flex: none;
    order: 3;
    flex-grow: 0;
}

.box5 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    gap: 0%;
    position: relative;
    width: 25vw;
    height: 50vh;
    overflow: hidden;
}

.box5:hover img {
    background-color: black;
    opacity: 60%;
    transform: scale(1.2);
}

.box6 {
    background-color: black;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    gap: 0%;
    position: relative;
    width: 25vw;
    height: 50vh;
    overflow: hidden;
}

.box6:hover img {
    opacity: 60%;
    background-color: black;
    transform: scale(1.2);
}

.box7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 8vh;
}

.box8 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 0%;
}

.Box7Inside {
    flex: none;
    order: 3;
    flex-grow: 0;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.infoBoxChild {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}


/* ==============================logo==============================*/

.MesilotLogo {
    text-align: center;
    align-items: center;
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 300%;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    width: 20vw;
    height: fit-content;
    position: static;
}

.ImgMesilotBox {
    padding-left: 50%;
}


/* ==========================text style==============================*/

#header {
    padding-left: 20px;
    font-size: 50px;
    color: red;
}

#textDesign2 {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 120%;
    text-decoration: none;
    color: white;
}

#txtLarge {
    font-size: 150%;
    opacity: 10%;
}

#textDesign {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 120%;
    text-decoration: none;
    color: white;
}

.boxTextDesign {
    font-size: 100%;
    color: aliceblue;
    position: absolute;
    top: 90%;
    bottom: 0%;
    font-weight: bolder;
}

#Quote {
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Fondamento', cursive;
    padding: 0%;
    margin: 0%;
    color: white;
}

#textDesign:hover {
    opacity: 50%;
}

#textDesignBox {
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.LargeText {
    padding-left: 30vw;
    padding-right: 25vw;
    text-align: center;
    align-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 200px;
    color: white;
}

.infoBoxHeader {
    color: white;
    font-size: 60px;
    margin: 0%;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 27px;
}

.infoBoxTxt {
    text-align: left;
    color: white;
    font-size: 150%;
    width: 500px;
    height: auto;
    margin: 0%;
    padding-left: 27px;
}